.application-form {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: justify;
}

.form-header {
    margin-top: 0;
    font-size: 4vmax;
    color: #5D3FD3;
}

.application-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.address{
    border: 0.1vmax solid #b8b8c7;
    padding: 1.1vmax;
}
.address::placeholder,.address{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color:transparent;
    border-radius: 0.25vmax;
}
.address:hover{
    border:0.1vmax solid black;
}
.address:focus{
    outline: none !important;
    border:0.18vmax solid #1976d2;

}